<div #wrapper class="wrapper d-flex flex-column flex-sm-row pt-5 pb-5">
  <div>
    <nb-card class="content">
      <nb-card-header class="d-flex flex-column flex-xl-row"
        ><span>Let’s Make Weather Caster </span
        ><span>Speaks For Emergency!</span></nb-card-header
      >
      <nb-card-body
        >Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum. 설명문
      </nb-card-body>
      <nb-card-footer class="d-flex flex-column flex-md-row align-items-center">
        <button class="mr-3 mb-3">Preview PROTEST</button>
        <button class="mr-3 mb-3">COPY PROTEST for Email</button>
        <button class="d-xl-none mr-3">Use Auto Sender</button>
      </nb-card-footer>
    </nb-card>
    <nb-card class="petition">
      <nb-card-header>How Petitions Work</nb-card-header>
      <nb-card-body>
        <ul class="d-flex flex-column flex-xl-row">
          <li class="mt-4 d-flex flex-xl-column align-items-xl-center">
            <span class="style-type">1</span>Read a Protest
          </li>
          <li class="mt-4 d-flex flex-xl-column align-items-xl-center">
            <span class="style-type">2</span>
            <span>
              Paste to Your Email
              <span class="or">or</span> Use Auto Sender
            </span>
          </li>
          <li class="mt-4 d-flex flex-xl-column align-items-xl-center">
            <span class="style-type">3</span>Send It to Weather Casters!
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>
