<div #wrapper class="wrapper d-flex flex-column flex-sm-row pt-5 pb-5">
  <div>
    <nb-card class="content">
      <nb-card-header class="d-flex flex-column flex-xl-row">
        <span>Let’s Make Weather Caster Loud Their Voices!</span>
        <span>Speaks For Emergency!</span>
      </nb-card-header>
    
      <nb-card-body>
        Hello!<br/>
        I watch your weather news every morning.<br/>
        <br/>
        We are afraid.<br/>
        Now, the climate crisis moments that have engulfed the world are really happening, and news is coming. We despair.
        Every morning, I'm listening to the usual news, which feels like I'm ready for just a fine day.<br/>
        <br/>
        We wish.<br/>
        I hope that people who are only running for economic growth will reduce carbon generation from energy right now.<br/>
        <br/>
        We demand.<br/>
        I'm sure you've been broadcasting a lot of provocative content, but tomorrow's weather news doesn't avoid danger and disaster
        Please report with active action plans.<br/>
        <br/>
        Please check the website below for details.<br/>
        <a href="https://arborsday.github.io/climatealert/" target="_blank">https://arborsday.github.io/climatealert/</a><br/>
        <br/>
        Sincerely,,<br/>
        One of member of only the earth.<br/>
      </nb-card-body>

      <nb-card-footer class="d-flex flex-column flex-md-row align-items-center">
        <button class="mr-3 mb-3">Preview PROTEST</button>
        <button class="mr-3 mb-3">COPY PROTEST for Email</button>
        <button class="d-xl-none mr-3">Use Auto Sender</button>
      </nb-card-footer>
    </nb-card>
    
    <nb-card class="petition">
      <nb-card-header>How Petitions Work</nb-card-header>
      <nb-card-body>
        <ul class="d-flex flex-column flex-xl-row">
          <li class="mt-4 d-flex flex-xl-column align-items-xl-center">
            <span class="style-type">1</span>Read a Protest
          </li>
          <li class="mt-4 d-flex flex-xl-column align-items-xl-center">
            <span class="style-type">2</span>
            <span>
              Paste to Your Email
              <span class="or">or</span> Use Auto Sender
            </span>
          </li>
          <li class="mt-4 d-flex flex-xl-column align-items-xl-center">
            <span class="style-type">3</span>Send It to Weather Casters!
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>
