<section class="d-flex position-relative">
  <layout-navbar class="flex-1 d-flex align-items-center"></layout-navbar>
  <nb-actions>
    <nb-action
      [icon]="{ icon: 'instagram', pack: 'brands' }"
      title="instagram"
      href="https://www.instagram.com/"
      class="d-sm-none-down"
    ></nb-action>
    <nb-action
      icon="twitter"
      title="twitter"
      href="https://twitter.com/explore"
      class="d-sm-none-down"
    ></nb-action>
    <nb-action
      icon="facebook"
      title="facebook"
      href="https://www.facebook.com/"
      class="d-sm-none-down"
    ></nb-action>
    <nb-action
      [icon]="{ icon: 'globe-americas', pack: 'solid' }"
      title="globe"
      link="/"
    ></nb-action>
  </nb-actions>
</section>
