.hamburger {
  width: 60px;
  height: 40px;
  cursor: pointer;
  position: relative;
  outline: none;

  div {
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #fff;
    position: absolute;
    transform: translateY(-50%);
    transition: transform 0.35s, top 0.35s;
  }

  @for $i from 1 through 3 {
    div:nth-child(#{$i}) {
      top: 50% * ($i - 1);
    }
  }

  &:hover {
    div:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    div:nth-child(2) {
      opacity: 0;
    }
    div:nth-child(3) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
