.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

// .position-laptop-static {
//   @include media(laptop) {
//     position: static;
//   }
// }

// .position-laptop-absolute {
//   @include media(laptop) {
//     position: absolute;
//   }
// }
