<nb-card class="climate" id="climate">
  <nb-card-header class="text-capitalize text-align-center"
    >climate emergency now</nb-card-header
  >
  <nb-card-body>
    <home-global-temperature></home-global-temperature>
  </nb-card-body>
</nb-card>

<nb-card class="take-action" id="take-action">
  <nb-card-header class="text-capitalize text-align-center"
    >take action</nb-card-header
  >
  <nb-card-body style="max-width: none;">
    <div class="dialog" [ngClass]="{ 'dialog-on': isDialogOn }">
      <button (click)="toggle()" class="close"></button>
      <div class="wrapper2">
      <div #cb class="card">
          Hello!<br/>
          I watch your weather news every morning.<br/>
          <br/>
          We are afraid.<br/>
          Now, the climate crisis moments that have engulfed the world are really happening, and news is coming. We despair.
          Every morning, I'm listening to the usual news, which feels like I'm ready for just a fine day.<br/>
          <br/>
          We wish.<br/>
          I hope that people who are only running for economic growth will reduce carbon generation from energy right now.<br/>
          <br/>
          We demand.<br/>
          I'm sure you've been broadcasting a lot of provocative content, but tomorrow's weather news doesn't avoid danger and disaster
          Please report with active action plans.<br/>
          <br/>
          Please check the website below for details.<br/>
          <a href="https://arborsday.github.io/climatealert/" target="_blank">https://arborsday.github.io/climatealert/</a><br/>
          <br/>
          Sincerely,,<br/>
          One of member of only the earth.
        </div>
      </div>
      <button (click)="copy(cb)" class="copy2">
        COPY PROTEST for Email
      </button>
    </div>
    <home-take-action class="wrapper2"></home-take-action>
  </nb-card-body>
</nb-card>

<nb-card class="fact" id="fact">
  <nb-card-header class="text-capitalize text-align-center"
    >fact check</nb-card-header
  >
  <nb-card-body>
    <home-fact-check></home-fact-check>
  </nb-card-body>
</nb-card>



<nb-card class="data-v" id="data-v">
  <nb-card-header class="text-capitalize text-align-center"
    >data visualization from NASA</nb-card-header
  >
  <nb-card-body>
    <home-data-v></home-data-v>
  </nb-card-body>
</nb-card>
