@mixin media($query) {
  @if $query == "tablet" {
    @media only screen and (min-width: $breakpoint-tablet * 1px) {
      @content;
    }
  } @else if $query == "laptop" {
    @media only screen and (min-width: $breakpoint-laptop * 1px) {
      @content;
    }
  } @else if $query == "laptop-L" {
    @media only screen and (min-width: $breakpoint-laptop-L * 1px) {
      @content;
    }
  } @else if $query == "desktop" {
    @media only screen and (min-width: $breakpoint-desktop * 1px) {
      @content;
    }
  } @else if $query == "desktop-4k" {
    @media only screen and (min-width: $breakpoint-desktop-4k * 1px) {
      @content;
    }
  }
}

@mixin media-max($query) {
  @if $query == "tablet" {
    @media only screen and (max-width: $breakpoint-tablet * 1px) {
      @content;
    }
  } @else if $query == "laptop" {
    @media only screen and (max-width: $breakpoint-laptop * 1px) {
      @content;
    }
  } @else if $query == "laptop-L" {
    @media only screen and (max-width: $breakpoint-laptop-L * 1px) {
      @content;
    }
  } @else if $query == "desktop" {
    @media only screen and (max-width: $breakpoint-desktop * 1px) {
      @content;
    }
  } @else if $query == "desktop-4k" {
    @media only screen and (max-width: $breakpoint-desktop-4k * 1px) {
      @content;
    }
  }
}
