// media query breakpoints
$breakpoint-mobile-S: 320;
$breakpoint-mobile-M: 375;
$breakpoint-mobile-L: 425;

$breakpoint-tablet: 768;

$breakpoint-laptop: 1024;
$breakpoint-laptop-M: 1366;
$breakpoint-laptop-L: 1440;

$breakpoint-desktop: 1920;
$breakpoint-desktop-4k: 2560;
