.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}


// .d-laptop-none {
//   @include media(laptop) {
//     display: none;
//   }
// }

// .d-laptop-flex {
//   @include media(laptop) {
//     display: flex;
//   }
// }
